name: CI/CD

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Check out code
        uses: actions/checkout@v3
      
      - name: Deploy usando PowerShell
        run: |
          $sshCommand = "ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa -p 2222"
          $scpCommand = "scp -r -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa -P 2222"
      
          # Executar SSH para criar diretório na VM
          Invoke-Expression "$sshCommand ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }} 'mkdir -p /home/john/redes'"
      
          # Transferir arquivos usando SCP
          Invoke-Expression "$scpCommand ./ ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }}:/home/john/redes"
      
      - name: Build Backend Docker Image on Frontend VM
        run: |
            # Comandos a serem executados na VM do Frontend
            $commands = @"
            echo "Construindo a imagem Docker do backend..."
            mkdir -p /home/john/redes/backend
            cd /home/john/redes/backend

            echo "Salvando a imagem como .tar..."

            
            "@

            # Salvando os comandos em um arquivo temporário com a codificação correta
            $tempFile = "C:\Temp\commands.sh"
            $commands | Out-File -FilePath $tempFile -Encoding utf8

            # Executando os comandos na VM do Frontend
            ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa -p 2222 redes@127.0.0.1 "bash -s" < $tempFile

            # Removendo o arquivo temporário (opcional)
            Remove-Item -Path $tempFile